 @model pos.Models.Items
 @{

}

<div id="show_item">
        <div id="img_show_item">
            <img width="200px"  id="imghb" src="~/Image/@Html.DisplayFor(model=>model.Img)"  alt="ojojoi">
        </div>
        
        <div id="propties_show_item">
            <h1  id="show_title">Name Item : </h1>
            
            <input id="show_data" type="text" asp-for="Name" disabled></input>

            <div id="div_show_price_cat">

             <div>
                <h1 id="show_titleD">Price</h1>
                <input id="show_data" type="text" asp-for="Price" disabled></input>
             </div>
                @*<div>
                    <h1 id="show_titleD">Catogries</h1>
                <h1 id="show_dataD">{{$cat->cat_name}}</h1>
                </div>*@
            </div>

            <h1 id="show_title">Description</h1>
            <div id="show_dataP">
                <input id="show_data" type="text" asp-for="Des" disabled></input>
            </div>

            <div>
                <h1 id="show_titleD">Count Item</h1>
               <input id="show_data" type="text" asp-for="Count" disabled></input>
             </div>

            
        </div>
        
    </div>